.background-image{
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background: linear-gradient(rgba(39, 37, 37, 0.6),rgba(0,0,0,0.3)),  url('https://www.shutterstock.com/shutterstock/photos/1505134388/display_1500/stock-vector-online-delivery-service-concept-online-order-tracking-delivery-home-and-office-city-logistics-1505134388.jpg');
}
.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

  @media  screen and (max-width:576px){
    .card {
      
      grid-template-columns: 1fr;
    }
    .body-container {
   
      grid-template-columns:  1fr;
     
    }
  }
  @media  screen and (min-width:577px) and (max-width:768px){
    .card {
      
      grid-template-columns: repeat(2, 1fr);
    }
    .body-container {
   
      grid-template-columns: 1fr;
     
    }
  } 