.background-image{
    background-image: url('https://www.shutterstock.com/shutterstock/photos/1505134388/display_1500/stock-vector-online-delivery-service-concept-online-order-tracking-delivery-home-and-office-city-logistics-1505134388.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}